<form [formGroup]="usingNestedFormArray" (ngSubmit)="onSubmit()">
    <h1 class="container mx-auto mt-5 text-xl">Nested Form Array</h1>
    <div class="mt-10 container mx-auto flex">
        <div>
            <input type="text" 
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-96 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="Category name"/>
        </div>
        <button type="button" class="ms-2.5" (click)="addCategory()">
            <img 
            width="42" 
            height="42" 
            src="https://img.icons8.com/fluency/48/add--v1.png" 
            alt="add--v1"/>
        </button>
    </div> 
    <div formArrayName="categories">
        <div *ngFor="let category of categories.controls;let i = index">
            <div class="mt-10 container mx-auto flex">
                <div>
                    <input type="text" 
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-96 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="Category name"/>
                </div>
                <button type="button" class="ms-2.5" (click)="removeCategory(i)">
                    <img width="42" 
                    height="42" 
                    src="https://img.icons8.com/color/48/cancel--v1.png" 
                    alt="add--v1"/>
                </button>
            </div>
            <div class="container mt-5 mx-auto flex">
                <div>
                    <input type="text" 
                    formControlName="item"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-96 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="Item name"/>
                </div>
                <button type="button" class="ms-2.5" (click)="addItem(i)">
                    <img 
                    width="42" 
                    height="42" 
                    src="https://img.icons8.com/fluency/48/add--v1.png" 
                    alt="add--v1"/>
                </button>
            </div>
            <div [formGroupName]="i">
                <div formArrayName="category">
                    <div *ngFor="let item of addNewItem(i).controls; let j= index">
                        <div class="mt-5 container mx-auto flex" >
                            <div>
                                <input type="text" 
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-96 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                placeholder="Item name"/>
                            </div>
                            <button type="button" class="ms-2.5" (click)="removeItem(i, j)">
                                <img 
                                width="42" 
                                height="42" 
                                src="https://img.icons8.com/color/48/cancel--v1.png" 
                                alt="add--v1"/>
                            </button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div> 
</form>

{{this.usingNestedFormArray.value | json}}
